@import '../../styles/text.scss';
@import '../../styles/mixins.scss';

.PokemonDetails {
  .Header {
    margin-top: 25px;
    
    h1, h2 {
      display: inline-block;
      margin: 0;
    }

    h1 {
      margin-right: 10px;
      vertical-align: middle;
    }
    
    h2 {
      text-transform: capitalize;
      vertical-align: middle;
    }
  }

  .Details-wrapper {
    margin: auto;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column-reverse;

    @include breakpoint(sm) {
      flex-direction: row;
    }
    
    .Details {
      width: 100%;
      
      @include breakpoint(md) {
        max-width: 50%;
      }
    }

    .Short-description {
      font-size: 2.5rem;
      margin: 0;
    }

    .Japanese-name {
      font-size: 3rem;
      margin: 0;
      margin-left: -1.5rem;
      z-index: 0;
      color: rgba(255, 255, 255, 0.3);
      letter-spacing: -1px;
      white-space: nowrap;

      @include breakpoint(xs) {
        font-size: 5rem;
      }
      @include breakpoint(sm) {
        font-size: 7rem;
      }
      @include breakpoint(md) {
        font-size: 10rem;
      }
    }

    .Image {
      z-index: 1;
      width: 100%;
      
      @include breakpoint(xs) {
        width: 40%;
      }

      img {
        width: 100%;
      }
    }
  }

  .Stats {
    max-width: 1200px;
    margin: auto;
  }
}