@import '../../styles/colors.scss';

.Button {
  background-color: $primary-color;
  color: white;
  padding: 15px;
  border-radius: 10px;
  font-size: 1.1rem;
  display: inline-block;
  position: relative;
  outline: none;
  cursor: pointer;
  border: none;
  box-shadow: 2px 4px 10px $box-shadow-color;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $primary-highlight;
  }

  .Spinner {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;

    svg {
      height: 25px;
      fill: white;
    }
  }
}