@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';

.Pokemon {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  min-height: 100vh;
  color: white;
  box-sizing: border-box;
  padding: 20px;
  transition: background-color ease 1s;
  
  @include breakpoint(sm) {
    padding: 50px;
  }

  a {
    display: inline-block;
    vertical-align: middle;
    
    svg {
      height: 100%;
      width: 50px;
      transform: rotate(180deg);
    }
  }

  .Back-Arrow {
    fill: white;
    position: relative;
  }

  .Varieties {
    display: inline-block;
    position: relative;
    top: 0;
    vertical-align: middle;

    .Button {
      background-color: rgba(255, 255, 255, 0.5);
      box-shadow: 2px 4px 10px $box-shadow-color-dark;
      border-radius: 100%;
      transition: background-color ease 1s;
      margin-right: 20px;
  
      &.active ,&:hover {
        background-color: rgba(255, 255, 255, 0.9);
      }
  
      img {
        width: 50px;
      }
    }
  }

  .Modal {
    color: black;
  }
}

@include add-type-background('.Pokemon');