$white: MintCream;
$primary-color: indianred;
$primary-highlight: salmon;

$overlay-background: rgba(33, 33, 33, 0.5);
$box-shadow-color: #ccc;
$box-shadow-color-dark: rgba(0, 0, 0, 0.2);

$type-background: (
  "normal": DarkGray,
  "fighting": Maroon,
  "flying": AliceBlue,
  "poison": MediumOrchid,
  "ground": Peru,
  "rock": Gray,
  "bug": YellowGreen,
  "ghost": Purple,
  "steel": LightSteelBlue,
  "fire": Tomato,
  "water": SkyBlue,
  "grass": MediumSeaGreen,
  "electric": Orange,
  "psychic": Plum,
  "ice": PaleTurquoise,
  "dragon": RoyalBlue,
  "dark": DimGray,
  "fairy": HotPink,
  "unknown": blue,
  "shadow": Indigo
);