@import './colors.scss';

@mixin add-type-background($sibling) {
  @each $type, $color in $type-background {
    #{$sibling}.#{$type} {
      background-color: $color;
    }
  }
}

@mixin breakpoint($class) {
  @if $class == xxs {
    @media (max-width: 500px) { @content; }
  }
  @else if $class == xs {
    @media (min-width: 501px) { @content; }
  }
 
  @else if $class == sm {
    @media (min-width: 768px) { @content; }
  }
 
  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }
 
  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }
 
  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}