.BarChart {
  .label {
    margin: 0;
    margin-bottom: 5px;
    text-transform: capitalize;
  }

  .bar {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    height: 20px;
    margin-bottom: 20px;
    border-radius: 10px;

    .scale {
      background-color: white;
      height: inherit;
      border-radius: inherit;
    }
  }
}