@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.Card {
  color: white;
  border-radius: 20px;
  display: inline-block;
  box-shadow: 2px 4px 10px $box-shadow-color;
  text-transform: capitalize;
  width: 100%;
  margin: 5px 0;
  position: relative;
  overflow: hidden;
  @include breakpoint(xxs) {
    margin: 5px auto;
  }
  @include breakpoint(xs) {
    width: 70%;
    margin: 5px auto;
  }
  @include breakpoint(sm) {
    width: 48%;
  }
  @include breakpoint(md) {
    width: 32%;
  }
  @include breakpoint(lg) {
    width: 24%;
  }

  &-container {
    width: 100%;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: space-between;
    align-content: center;
    flex: 1 1 auto;
    padding: 10px;
  }

  &-data {
    padding: 5px;
  }

  &-name {
    h2 {
      display: inline;
    }

    h3 {
      display: inline;
      margin-left: 20px;
      color: rgba(255, 255, 255, 0.9);
    }
  }

  &-type {
    margin-top: 10%;
  }

  &-image {
    width: 100%;
    z-index: 1;
    img {
      max-width: 100%;
      height: auto;
      max-height: 100px;
      position: relative;
      top: 50%;
      left: 100%;
      transform: translate(-100%, -50%);
    }
  }

  &-Pokeball {
    position: absolute;
    height: 110%;
    top: 15%;
    left: 65%;
    fill: rgba(255, 255, 255, 0.5);
    z-index: 0;
  }
}

@include add-type-background('.Card');