@import '../../styles/colors.scss';

.Modal {
  width: 60%;
  background-color: $white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 25px;
  z-index: 999;
}