.fade {
  &-enter {
    left: 100% !important;
  }
  
  &-enter-done {
    left: 0% !important;
    transition: left 0.2s;
  }
  
  &-exit {
    left: 0% !important;
  }
  
  &-exit-done {
    left: 100% !important;
    transition: left 0.2s;
  }
}