@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,700&display=swap');

html {
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
}

html, body {
  position: relative;
  overflow-x: hidden;
  margin: 0;
  min-height: 100vh;
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
}