.Pokedex {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 0; left: 0%;

  .Header {
    display: flex;
    align-items: center;
    height: 20vh;
  }

  .Pokedex-List {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .Button {
    display: block;
    margin: 50px auto;
  }

  .Pokeball {
    position: absolute;
    top: -15vw;
    left: 70%;
    width: 50vw;
    fill: rgba(100, 100, 100, 0.1);
  }

  .Spinner {
    width: 10%;
    height: auto;
    margin: auto;
    fill: rgba(100, 100, 100, 0.5);
    margin-top: 50px;
  }
}